<!DOCTYPE html>
    <html>
    <head>
    <style>
        body {
            background-color: lightblue;
            font-family: helvetica;
            font-size: 500%;
            text-align: center;
        }
        h1   {
            color: purple;
            font-family: helvetica;
            font-size: 200%;
            text-align: center;
        }
        h2 {
            color: blue;
            font-family: verdana;
            font-size: 150%;
            text-align: center;
        }
        p    {
            color: 041e42;
            font-family: helvetica;
            font-size: 115%;
        }
        img {
            float: right
        }    
    </style>
    </head>
    <body>
        <h1>This is a heading</h1>
        <p>This is a paragraph.</p>
    </body>
</html>
